@charset "UTF-8";
/* Add your custom CSS declarations below  */

img {
    max-width: 100% !important;
    height: auto !important;
}

.intro-bg {
    background-color: #eee;
}

.designs {
    background: url(/images/IMG_4353.jpg);
}

.photography {
    background: url(/images/IMG_4353.jpg);
}

.contact {
    background: url(/images/IMG_4353.jpg);
}

.btn {
    background-color: #BF8A6A;
    color: #fff;
    border-color: #BF8A6A;
    border-radius: 0%;
    padding: 10px 25px;
}

.btn:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
}