@charset "UTF-8";
/* Add your custom CSS declarations below  */

img {
    max-width: 100% !important;
    height: auto !important;
}

.intro-bg {
    background-color: #eee;
}

.designs {
    background: url(/images/IMG_4353.jpg);
}

.photography {
    background: url(/images/IMG_4353.jpg);
}

.contact {
    background: url(/images/IMG_4353.jpg);
}